<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout}"
      th:with="pageTitle='Top Flies'">
<head>
    <title>Top Flies</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <h2>Some message text</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>some paragraph text here</p>
                </div>
            </div>
            <!-- search criteria for filtering list of flies -->
            <form id="searchForm" th:action="@{/search}" th:object="${searchForm}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filter Selections</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-group">
                            <div class="panel-heading">
                                <h4>Stuff</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <label for="seasonsList">Choose Season:</label>
                                    <div class="col-md-3">
                                        <select class="select-picker" id="seasonsList" th:field="*{season}">
                                            <option value="">Select</option>
                                            <option th:each="season : ${seasonList}"
                                                    th:value="${season.id}"
                                                    th:text="${season.description}">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="seasonsList">Choose Fly Type:</label>
                                    <div class="col-md-3">
                                        <select class="select-picker" id="flyTypeList" th:field="*{flyType}">
                                            <option value="">Select</option>
                                            <option th:each="fly : ${flyTypeList}"
                                                    th:value="${fly.id}"
                                                    th:text="${fly.description}">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- search results -->
            <div>
                <div class="panel panel-default" th:unless="${#lists.isEmpty(fliesSearchResults)}">
                    <div class="panel-heading">
                        <h3>Flies</h3>
                    </div>
                    <div class="panel-body">
                        <div th:replace="base/fliesSearchResults :: pageLink_href ('/home')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>